fastapi
uvicorn[standard]
pydantic
python-multipart
python-dotenv
langchain
langchain-text-splitters
langchain-google-genai
langgraph
qdrant-client
pymupdf
pdfplumber
pandas
openpyxl
unstructured
scikit-learn
prophet
langchain_community
langchain-qdrant
pinecone-client
langchain-pinecone
pyinstaller
PyJWT
fastapi-sso
sqlalchemy